*,
::before,
::after {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: rgb(20, 30, 40);
  color: linen;
  font-family: Baskervville, serif;
}

h1 {
  font-family: Anton, sans-serif;
  text-transform: uppercase;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: Raleway, sans-serif;
}

a {
  color: linen;
  text-decoration: none;
}

main {
  display: grid;
  grid-template-columns: minmax(2rem, 1fr) minmax(min-content, 94rem) minmax(
      2rem,
      1fr
    );
  row-gap: 3rem;
}

.cabecalho {
  display: grid;
  grid-column: 2/3;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 1.5rem;
}

.heroi {
  grid-column: 1 / -1;
  position: relative;
}

img {
  object-fit: cover;
  width: 100%;
}

.heroi-titulo {
  color: orangered;
  font-size: 8rem;
  text-align: center;
}

.heroi-subtitulo {
  color: orangered;
  font-size: 2.4rem;
  text-align: center;
}

.autor {
  font-family: Raleway, sans-serif;
  font-size: 2rem;
}

.autor-nome a:hover {
  background-color: #306203;
}

.data-publicacao {
  color: rgba(255, 255, 255, 0.5);
}

.icones-sociais {
  align-items: center;
  display: grid;
  font-size: 3rem;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  grid-template-columns: repeat(5, 1fr);
}
