*,
::before,
::after {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: rgb(20, 30, 40);
  color: linen;
  font-family: Baskervville, serif;
}

h1 {
  font-family: Anton, sans-serif;
  text-transform: uppercase;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: Raleway, sans-serif;
}

a {
  color: linen;
  text-decoration: none;
}

main {
  display: grid;
  grid-template-columns: minmax(2rem, 1fr) minmax(min-content, 94rem) minmax(
      2rem,
      1fr
    );
  row-gap: 3rem;
}
